extends base

block content
    .review__container
        each review in userReviews
            .review__card
                .review__card--header
                    if review.tour 
                        h1.review__card--name=review.tour.name 
                    else 
                        h1.review__card--name No tour name
                    each star in [1,2,3,4,5]
                        svg.reviews__star(class=`reviews__star--${review.rating >= star? 'active' : 'inactive'}`)
                            use(xlink:href='/img/icons.svg#icon-star')
                p.review__card--comment=review.review
                p.review__card--rating Rating #{review.rating} 
                p.review__card--created-at=review.createdAt.toLocaleString()
                input(type="hidden" value=`${review.id}`)
                button.btn.btn--green.btn--edit Edit
    .review-edit-form.hide-edit-form
            h2.heading-secondary.ma-bt-lg Edit your review
            form.form.form--edit
                .form__group
                    label.form__label(for='review') Review
                    input#review.form__input(type='review', value='' required)
                .form__group.ma-bt-md
                    label.form__label(for='rating') Rating
                    input#rating.form__input(type='rating', value='' required,   min=1 max=5)
                .form__group
                    input.review--id(type='hidden' value='')
                .form__group
                    button.btn.btn--green.btn--edit-review Edit Review