extends base

block content
    .review__container
        each review in userReviews
            .review__card
                .review__card--header
                    if review.tour 
                        h1.review__card--name=review.tour.name 
                    else 
                        h1.review__card--name No tour name
                    each star in [1,2,3,4,5]
                        svg.reviews__star(class=`reviews__star--${review.rating >= star? 'active' : 'inactive'}`)
                            use(xlink:href='/img/icons.svg#icon-star')
                p.review__card--comment=review.review
                p.review__card--rating Rating #{review.rating} 
                p.review__card--created-at=review.createdAt.toLocaleString()
        